@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-display {
  font-family: 'Syne', sans-serif;
}

.font-goudy {
  font-family: 'Goudy Old Style', 'Goudy', 'Sorts Mill Goudy', serif;
}

canvas {
  touch-action: none;
}
